@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH CHỦ ĐỀ</h2>

<div id="chude_area">
    @{ Html.RenderAction("GetPaging", "ChuDe", new { page = 1 });}
</div>